<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>iframe test</title>
    </head>

    <body>
    <div>iframe test booo</div>

    
    <object data="https://docs.google.com/document/d/1DGBWUHR3pjirqHfcmrbNNCG03cTKxqwxjqI7mH_pMYo/edit?usp=sharing" width="900" height="600">
        <embed src="https://docs.google.com/document/d/1DGBWUHR3pjirqHfcmrbNNCG03cTKxqwxjqI7mH_pMYo/edit?usp=sharing" width="900" height="600"> </embed>
        Error: Embedded data could not be displayed.
    </object>    

    
    </body>
</html>