<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>start page</title>
    </head>

    <body>
        <button onclick="loadPages()">Link</button>
            
        
        <script  type="text/javascript">
        //$("a.link").on("click",function(){
        //    window.open('http://127.0.0.1:5000/nothing','_blank');
        //});
        function loadPages(){
            window.open('http://127.0.0.1:5000/read','_blank');
            window.open('http://127.0.0.1:5000/nothing','_blank');
            window.open('http://127.0.0.1:5000/video','_blank');
            window.open('http://127.0.0.1:5000/game','_blank');
            window.open('http://127.0.0.1:5000/music','_blank');
        }
                
        </script>
        <script type="text/javascript" src="/static/logEvents.js"></script>
    </body>        
</html>
        