<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>iproxy test</title>
    </head>

    <body>
        Browser detection of focus change from https://dystroy.org/demos/vis-en.html
        and <a href=http://stackoverflow.com/a/19519701/263525>Code here</a>. 
        
        <script type="text/javascript" src="/static/logEvents.js"></script>
        <script type="text/javascript">
        // "librairie" de gestion de la visibilité
        //  var visible = vis(); // donne l'état courant
        //  vis(function(){});   // définit un handler pour les changements de visibilité
        var vis = (function(){
            var stateKey, eventKey, keys = {
                hidden: "visibilitychange",
                webkitHidden: "webkitvisibilitychange",
                mozHidden: "mozvisibilitychange",
                msHidden: "msvisibilitychange"
            };
            for (stateKey in keys) {
                if (stateKey in document) {
                    eventKey = keys[stateKey];
                    break;
                }
            }
            return function(c) {
                if (c) {
                    document.addEventListener(eventKey, c);
                    //document.addEventListener("blur", c);
                    //document.addEventListener("focus", c);
                }
                return !document[stateKey];
            }
        })();
        
        vis(function(){
            //document.title = vis() ? 'Visible' : 'Not visible';
            //console.log(new Date, 'visible ?', vis());
            logEvents.neurosteer_log(vis()? 'Visible' : 'Not visible')
        });
        
        // to set the initial state
        //document.title = vis() ? 'Visible' : 'Not visible';
        </script>

        
    </body>
</html>