<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>read</title>
    </head>
    <style>
    div{
        width: 100%;
        height: 700px;
        background-color: aquamarine;
    }
    </style>

    <body>
        <h1>Reading Task</h1>
        <h2>Please read the magazine article below</h2>
        
        <div>
        <object data="/static/24_12_13_bbcmagazine_10stories.pdf" type="application/pdf" width="100%" height="100%">
            <p>Alternative text - include a link <a href="/static/24_12_13_bbcmagazine_10stories.pdf">to the PDF!</a></p>
          </object>
        </div>
       
       <p style="color:lightgray">

        http://news.bbc.co.uk/2/shared/bsp/hi/pdfs/24_12_13_bbcmagazine_10stories.pdf
    </p>
        <script type="text/javascript" src="/static/logEvents.js"></script>
    </body>        
</html>
        